@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

:root {
  --max-w: 1120px;
  /*макс ширина рабочей области*/
  --nav-col-w: 200px;
  /*ширина плашек навигации*/
  --nav-col-h: 50px;
  /*высотка плашек навигации*/
  --big-nav-img-w: 200px;
  --small-nav-img-w: 100px;
  --nav-block-font-size: 16px;
  --communcation-img-padding: 20px;
  --header-font-size: 30px;
  --head-url-font-size: 21px;
  --head-url-line-height: 25px;
  --basic-padding: 20px;
  /*размеры плашек*/
  --panel-w: 260px;
  --panel-h: 180px;
  --panel-margin-right:  10px;
  --panel-margin-bottom: 10px;

  --img-w: 256x;
  --img-h: 130px;
  --panel-bottom-h: 50px;
  --panel-border-rad: 15px;
  /*---------------*/
  /*---Отступы заголовочного блока-----------*/
  --header-block-top-pad: 20px;
  --header-block-bottom-pad: 10px;
  /*---Рзамер слайдов при показе------------*/
  --slide_w: 1120px;
  --info-img-h: 24px;
  --dist-edu-font-size: 22px;
  --slides-q:6;
  /*Количество слайдеров в Preview*/
  --label-font-size: 16px;
  --footer-font-size: 16px;
  --corona-font-size: 22px;
  --corona-w: 500px;
}

@media all and (max-width: 1100px) {
   :root {
    --nav-col-w: 45%;
    --communcation-img-padding: 5px;
    --header-font-size: 16px;
    --head-url-font-size: 15px;
    --head-url-line-height: 12px;
    --basic-padding: 1.78vw;
    /*размеры плашек*/
    --panel-w: 30.16vw;
    --panel-h: 20.89vw;
	--img-w: 29.71vw;
    --img-h: 15.09vw;
    --panel-bottom-h: 5.8vw;
    --info-img-h: 2.786vw;
    --dist-edu-font-size: 15px;
    /*Количество слайдеров в Preview*/
	--slides-q:4;
	--trash:100vw;
  }
}

@media all and (max-width: 849px) {
   :root {
    --nav-col-w: 45%;
    --communcation-img-padding: 5px;
    --header-font-size: 16px;
    --head-url-font-size: 15px;
    --head-url-line-height: 12px;
    --basic-padding: 1.78vw;
    /*размеры плашек*/
    --panel-w: calc((100vw - var(--basic-padding)*2 - (var(--panel-margin-right))*3)/3);
    --panel-h: calc(var(--panel-w)*180/260);
	--img-w: calc(var(--panel-w)*256/260);
    --img-h: calc(var(--panel-w)*0.5);
    --panel-bottom-h: calc((100vw - var(--basic-padding)*2 - (var(--panel-margin-right))*3)/3*(50/260));
    --info-img-h: 2.143vw;
    --dist-edu-font-size: 15px;
    --footer-font-size: 15px;
    --slides-q:3;
    /*Количество слайдеров в Preview*/
    --corona-font-size: 20px;
    --corona-w: 400px;
	 /*---Отступы заголовочного блока-----------*/
    --header-block-top-pad: 16px;
    --header-block-bottom-pad: 8x;
  }
}

@media all and (max-width: 600px) {
   :root {
    --nav-col-w: 45%;
    --nav-block-font-size: 12px;
    --communcation-img-padding: 2px;
    --header-font-size: 13px;
    --head-url-font-size: 13px;
    --head-url-line-height: 13px;
    --basic-padding: 1.78vw;
    /*размеры плашек*/
    --panel-w: 45vw;
    --panel-h: 31.15vw;
    --img-w: 44.307vw;
    --img-h: 22.5vw;
    --panel-bottom-h: 8.65vw;
    --info-img-h: 5.867vw;
    --big-nav-img-w: calc(17.857vw*1.5);
    --small-nav-img-w: calc(8.929vw*1.5);
    --dist-edu-font-size: 13px;
    --slides-q:2;
    /*Количество слайдеров в Preview*/
    --label-font-size: 13px;
    --footer-font-size: 12.5px;
    --corona-font-size: 14px;
    --corona-w: 280px;
	 /*---Отступы заголовочного блока-----------*/
    --header-block-top-pad: 10px;
    --header-block-bottom-pad: 5px;
  }
}

@media all and (max-width: 500px) {
   :root {
    --nav-col-w: 45%;
    --nav-block-font-size: 12px;
    --communcation-img-padding: 2px;
    --header-font-size: 13px;
    --head-url-font-size: 13px;
    --head-url-line-height: 13px;
    --basic-padding: 1.78vw;
    /*размеры плашек*/
    --panel-w: 45vw;
    --panel-h: 31.15vw;
    --img-w: 44.307vw;
    --img-h: 22.5vw;
    --panel-bottom-h: 8.65vw;
    --info-img-h: 5.867vw;
    --big-nav-img-w: calc(17.857vw*1.5);
    --small-nav-img-w: calc(8.929vw*1.5);
    --dist-edu-font-size: 13px;
    --slides-q:2;
    /*Количество слайдеров в Preview*/
    --label-font-size: 13px;
    --footer-font-size: 12.5px;
    --corona-font-size: 14px;
    --corona-w: 280px;
	 /*---Отступы заголовочного блока-----------*/
    --header-block-top-pad: 10px;
    --header-block-bottom-pad: 5px;
  }
}
