@charset "utf-8";

/* CSS Document */

@font-face {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

img {
  border: none;
}

textarea:focus,
input:focus,
a:hover {
  outline: none;
}

div.banner-block{
	-webkit-transition: all 0.2s ease;-o-transition: all 0.2s ease;-moz-transition: all 0.2s ease;
	border:none;
	border-radius:0px;
}

/*div.banner-block:hover{
	box-shadow:20px 20px 20px rgba(0,0,0,0.4);
	border-radius:7px;
}*/

div.banner-block:hover {
            box-shadow: none !important;
            border-radius: 7px;
        }

a {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  color: #00aded;
  text-decoration: none;
}

.mesh-button:active .mesh-button:focus {
  outline: none;
}

.mesh-button-pad {
  padding-left:calc(var(--basic-padding)*1.25);
  padding-top:calc(var(--basic-padding)*1.25);
}

.dropdown-content {
  display: none;
  position: relative;
  left:0;
  background-color: #5A2497;
  color: white;
  font-family: 'Roboto', sans-serif;
  z-index: 100;
  cursor: pointer;
  border-radius: 15px;
}

.dropdown-content td {
  color: white;
  padding: 12px 16px;
  border-bottom: 1px dotted white;
}

.show {
  display: block;
}

a,
a:active,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

table#mesh-table {
  border-collapse: collapse;
  /* Убираем двойные линии между ячейками */
}

table#mesh-table td,
th {
  padding: 10px;
  /* Поля вокруг содержимого таблицы */
  font-family: 'Roboto', sans-serif;
  border: 1px solid white;
  /* Параметры рамки */
}

table#mesh-table tr:hover {
  background-color: #D79AF1;
}

.sticky {
  position: sticky;
  top: 10px;
  min-height: 5px;
  visibility: visible;
  /*background: white;*/
  z-index: 999999;
}

center {
  padding-bottom: var(--basic-padding);
  padding-left: var(--basic-padding);
  padding-right: var(--basic-padding);
}

.header {
  display:flex;
  height:auto;
  padding-bottom:var(--basic-padding);
}

.nav-container
{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--basic-padding); 
  flex-wrap: wrap;
}

.flex-cont-style {
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
}

.nav-block-cell {
  background: linear-gradient(90deg, #A546CC, #64169B);
  height: var(--col1-h);
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  width: var(--col1-w);
  font-size: var(--nav-block-font-size);
  font-family: 'Roboto', sans-serif;
}

.nav-block-cell:hover {
  background: linear-gradient(90deg, #64169B, #A546CC);
}

.nav-block-cell-label {
  height: var(--col1-h);
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  white-space: normal;
  line-height: normal;
}

.panel {
  width: var(--panel-w);
  height: var(--panel-h);
  background-color: #FAE6FB;
  border-radius: 15px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

.panel-border {
  background: white!important;
  box-shadow: inset 0px 0px 0px 1px #957EEE!important;
  position:relative;
}

.panel-border-open-school {
  background: #4507ca;
  position:relative;
}

.panel-info-show {
  width: var(--panel-w);
  height: var(--panel-h);
  background-color: #FAE6FB;
  border-radius: 15px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  z-index: 1;
}

.info-img-div {
  float: right;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  cursor: pointer;
  justify-content: center;
}

.info-img {
  height: var(--info-img-h);
}

.info-img-div:hover {
  -webkit-animation: swing 0.5s ease;
  animation: swing 0.5s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  filter: sepia(90%);
}

.panel-img {
  width: var(--panel-w);
  height: var(--img-h);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  justify-content: center;
  align-items: center;
  position:relative;
  text-align:center;
}

.panel-img:hover {
  filter: invert(25%);
}

.panel-img-p {
  width: var(--img-w);
  height: var(--img-h);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top: 1px solid #957EEE;
  border-left: 1px solid #957EEE;
  border-right: 1px solid #957EEE;
  position:relative;
}

.panel-img-p:hover {
  filter: invert(25%);
}

.panel-img-full {
  width: var(--panel-w);
  height: var(--panel-h);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:1;
  position:relative;
}

.panel-img-full:hover {
  filter: invert(25%);
}

.panel-img-full-wh {
  width: var(--panel-w);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:1;
  position:relative;
}

.panel-img-full-wh:hover {
  filter: invert(25%);
}

.do-hover:hover {
  filter: invert(25%);
}

.undo-hover:hover {
  filter: none!important;
}


/*для подписей внизу плашки*/

.panel-bottom-div {
  width: 100%;
  height: var(--panel-bottom-h);
  display: inline-flex;
}

.header-block {
  font-size: var(--header-font-size);
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  padding-top: var(--header-block-top-pad);
  padding-bottom: var(--header-block-bottom-pad);
  text-align: left;
}

.head-url {
  font-size: var(--head-url-font-size);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: var(--head-url-line-height);
  padding-bottom: var(--basic-padding);
  text-align: left;
  font-family: 'Roboto', sans-serif;
  padding: calc(var(--basic-padding)*1.5);
  flex-wrap: wrap;
}

.for-parent-label {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D79AF1;
  /*background: linear-gradient(90deg, #957EEE, #D79AF1);*/
  border-bottom-left-radius: var(--panel-border-rad);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: var(--label-font-size);
}

.for-parent-label:hover {
  filter: hue-rotate(45deg);
}

.for-teacher-label {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #957EEE;
  /*background: linear-gradient(90deg, #957EEE, #6666ff);*/
  border-bottom-right-radius: var(--panel-border-rad);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: var(--label-font-size);
}

.for-teacher-label:hover {
  filter: hue-rotate(-45deg);
}

.do-teacher-hover:hover {
  filter: hue-rotate(-45deg);
}

.teacher-grad {
  background: linear-gradient(90deg, #957EEE, #6666ff);
}

.teacher-big-button {
  background: linear-gradient(90deg, #957EEE, #6666ff);
  padding-top: var(--header-block-top-pad);
  padding-bottom: var(--header-block-bottom-pad);
}	

.dist-edu-text {
  font-size: var(--dist-edu-font-size);
  text-align: justify;
  line-height: normal;
}

.communcation-flex-container {
  max-width: var(--max-w);
  padding-bottom: calc(var(--basic-padding)*2);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.communcation-img {
  padding: var(--communcation-img-padding);
}

.communcation-img:hover {
  filter: hue-rotate(30deg);
}

.slide-show {
  max-width: var(--max-w);
  padding-bottom: calc(var(--basic-padding)*2);
  display: flex;
}

.small-img {
  width: var(--small-nav-img-w);
}

.big-img {
  width: var(--big-nav-img-w);
}

.m-width-slider {
  width:var(--max-w);
}
 
.m-width {
	max-width:var(--max-w);
	width:100%;
	width: auto !important; /* IE max-width hack */
    width: var(--max-w);           /* width value for IE */
}

.m-width1120 {
	max-width:1120px;
	width:100%;
	width: auto !important; /* IE max-width hack */
    width: 1120px;           /* width value for IE */
}

.left-round-border {
	width:100%!important; 
	border-bottom-left-radius:var(--panel-border-rad);
	border-bottom-right-radius:var(--panel-border-rad);
}

.teacher-button {
	font-size:14px;color:white;align-items:center;width:20%;height:50px;display:flex;justify-content:center;align-items:center;border-bottom-left-radius:var(--panel-border-rad);border-bottom-right-radius:var(--panel-border-rad);border-top-left-radius:var(--panel-border-rad);border-top-right-radius:var(--panel-border-rad);cursor:pointer;margin-right: 10px;margin-bottom: 10px;
}

.obrazovarium-small-font {
	color:white!important;
	font-size:calc(var(--head-url-font-size)/1.3)!important;
}
.footer-tel {
	padding-top:calc(--var(basic-padding)*2);font-size:var(--footer-font-size);
}

.footer-epos {
	padding-top:calc(--var(basic-padding)/2);padding-bottom:calc(--var(basic-padding)*2);font-size:var(--footer-font-size);
}

.slider-padding {
	padding-bottom:calc(--var(basic-padding)*2)!important;
}
